.jumbotron{
    background-image: url("https://i.ytimg.com/vi/ZY7IikY6EvE/maxresdefault.jpg");
}

h1{
    color: white;
    margin-left: 50%;
}

.card-header{
    background-color: white;
    color: white;
}
.card-body{
    background-image: url("https://wallsheaven.com/photos/B630695770/400/html-website-structure.-technology-background.-it-coding-on-monitor-screen.-writing-programming-code-on-laptop.-programming-code-on-computer-screen.-mobile-app-developer.-php-syntax-highlighted.-.jpg");
}
.card-header{
    background-image: url("https://wallsheaven.com/photos/B630695770/400/html-website-structure.-technology-background.-it-coding-on-monitor-screen.-writing-programming-code-on-laptop.-programming-code-on-computer-screen.-mobile-app-developer.-php-syntax-highlighted.-.jpg");
}